/node_modules

# dependencies
/client/node_modules

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/files/*

run.sh
/client/public/.htaccess