#root {
	background-color: #fffdf8;
	font-family: 'Raleway', sans-serif;
}


h1 {
	font-weight: 800;
}


.email-form {
	padding: 35vh 20%;
	text-align: center;
	color: black;
	font-family: 'Raleway', sans-serif;
	h1 {
		margin-bottom: 20px;
	}
	form {
		display: flex;
		justify-content: center;
		font-weight: 800;
	}
	input {
		background-color: #fffdf8;
		border: 2px solid black;
		color: black;
		font-family: 'Raleway', sans-serif;
	}
	input[type="email"] {
		height: 40px;
		width: 72%;
		padding: 10px;
		margin-right: 10px;
	}
	input[type="submit"] {
		height: 40px;
		width: 20%;
	}
	input[type="submit"]:hover {
		background-color: #eedbaa;
		cursor: pointer;
	}
}


.file-info {
	margin: 0 7%;
	h1 {
		text-align: center;
		margin: 10px 0;
	}
	h2 {
		text-align: center;
		margin: 10px 0;
	}
}


.chunk {
	margin-bottom: 5px;
	padding: 3px;
	box-shadow: 8px 8px 8px #aaa;
	&:last-child {
		border-bottom: none;
	}
}






