#root {
  font-family: 'Raleway', sans-serif; }

/*h1 {
	font-weight: 800;
}*/
/*please enter email page*/
.email-form {
  padding: 35vh 20%;
  text-align: center;
  color: black;
  font-family: 'Raleway', sans-serif; }
  .email-form h1 {
    margin-bottom: 20px; }
  .email-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 800; }
  .email-form input {
    border: 2px solid black;
    color: black;
    font-family: 'Raleway', sans-serif; }
  .email-form input[type="email"] {
    height: 40px;
    width: 72%;
    padding: 10px;
    margin-right: 10px; }
  .email-form input[type="submit"] {
    height: 40px;
    width: 20%; }
  .email-form input[type="submit"]:hover {
    background-color: #eedbaa;
    cursor: pointer; }

.file-info {
  margin: 0 7%; }
  .file-info h1 {
    text-align: center;
    margin: 10px 0; }
  .file-info h2 {
    text-align: center;
    margin: 10px 0; }

.chunk {
  margin-bottom: 5px;
  padding: 3px;
  -webkit-box-shadow: 8px 8px 8px #aaa;
  box-shadow: 8px 8px 8px #aaa; }
  .chunk:last-child {
    border-bottom: none; }

.nav {
  background-color: #e1e3e6;
  padding: 1rem;
  color: black; }
  .nav .nav-link.active {
    font-size: 1.3rem; }

.home {
  background-image: url("./images/code-background.jpg"); }
